.wrapper {
  height: 100vh;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.export-btn {
  position: absolute;
  bottom: 3%;
  right: 3%;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 2px solid #04aa6d;
  border-radius: 6px;
  min-width: 120px;
  z-index: 3;
}

.export-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.export-btn:not(:disabled):hover {
  transform: scale(1.25);
}

.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.canvas-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  z-index: 1;
}

.canvas-view canvas {
  width: 100%;
  height: 100%;
}

.image-view {
  width: 100%;
  height: auto;
}

.image-view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
